<template>
  <div class="contentBlock">
    <h2 class="display-4" v-html="heading" />
    <div class="contentDescription" v-html="content" />
  </div>
</template>

<script>
export default {
  name: 'ContentBlock',
  props: {
    placeholders: { type: Object, default: () => ({}) },
    params: { type: Object, default: () => ({}) },
    heading: { type: String, default: '' },
    content: { type: String, default: '' }
  }
}
</script></script>