<template>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <nuxt-link to="/" class="text-dark">
        <img :src="logoImg" alt="Sitecore" />
      </nuxt-link>
    </h5>
    <!-- note: `$t` is a computed property on the Vue instance, defined by the i18next plugin -->
    <nav class="my-2 my-md-0 mr-md-3">
      <a
        class="p-2 text-dark"
        href="https://jss.sitecore.net"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{'Documentation'}}
      </a>
      <nuxt-link to="/styleguide" class="p-2 text-dark">
        {{'Styleguide'}}
      </nuxt-link>
      <nuxt-link to="/graphql" class="p-2 text-dark">
        {{'GraphQL'}}
      </nuxt-link>
    </nav>
  </div>
</template>

<script>
import logo from '~/assets/sc_logo.svg';

export default {
  name: 'Navigation',
  data() {
    return {
      logoImg: logo,
    };
  }
};
</script>
