<template>
  <component
    v-if="typeof component === 'object' && component.componentName"
    :is="component.componentName"
    v-bind="component.fields"
    :placeholders="component.placeholders"
    :uid="component.uid"
    :component-name="component.componentName"
    :params="params"
  />
  <div v-else>
    <template v-for="(item, index) in items">
      <CodeComponent
        v-if="item.name === 'code'"
        :key="index"
        :attributes="item.attributes"
        :contents="item.contents"
      />
      <component
        v-else
        :key="index"
        :is="item.componentName"
        v-bind="item.fields"
        :placeholders="item.placeholders"
        :uid="item.uid"
        :component-name="item.componentName"
        :params="item.params"
      />
    </template>
  </div>
</template>
<script>
export default {
  name: 'Placeholder',
  components: {
    CodeComponent: () => import('~/components/CodeComponent'),
    ContentBlock: () => import('~/components/ContentBlock'),
    StyleguideLayoutReuse: () => import('~/components/StyleguideLayoutReuse'),
    StyleguideLayout: () => import('~/components/StyleguideLayout'),
    StyleguideSection: () => import('~/components/StyleguideSection'),
    StyleguideLayoutReuse: () => import('~/components/StyleguideLayoutReuse'),
    StyleguideFieldUsageText: () => import('~/components/StyleguideFieldUsageText'),
    StyleguideFieldUsageRichText: () => import('~/components/StyleguideFieldUsageRichText'),
    StyleguideFieldUsageImage: () => import('~/components/StyleguideFieldUsageImage'),
    StyleguideFieldUsageFile: () => import('~/components/StyleguideFieldUsageFile'),
    StyleguideFieldUsageNumber: () => import('~/components/StyleguideFieldUsageNumber'),
    StyleguideFieldUsageCheckbox: () => import('~/components/StyleguideFieldUsageCheckbox'),
    StyleguideFieldUsageDate: () => import('~/components/StyleguideFieldUsageDate'),
    StyleguideFieldUsageLink: () => import('~/components/StyleguideFieldUsageLink'),
    StyleguideFieldUsageItemLink: () => import('~/components/StyleguideFieldUsageItemLink'),
    StyleguideFieldUsageContentList: () => import('~/components/StyleguideFieldUsageContentList'),
    StyleguideFieldUsageCustom: () => import('~/components/StyleguideFieldUsageCustom'),
    StyleguideLayoutTabs: () => import('~/components/StyleguideLayoutTabs'),
    StyleguideLayoutTabsTab: () => import('~/components/StyleguideLayoutTabsTab'),
    StyleguideSitecoreContext: () => import('~/components/StyleguideSitecoreContext'),
    StyleguideRouteFields: () => import('~/components/StyleguideRouteFields'),
    StyleguideComponentParams: () => import('~/components/StyleguideComponentParams'),
    StyleguideTracking: () => import('~/components/StyleguideTracking'),
    StyleguideMultilingual: () => import('~/components/StyleguideMultilingual'),
  },
  props: {
    name: { type: String, default: ''},
    placeholders: { type: Object, default: () =>({}) },
    params: { type: Object, default: () => ({}) },
    component: { type: Object, default: () => ({}) }
  },
  computed: {
    items () {
      return this.placeholders[this.name]
    }
  }
}
</script>
<style lang="scss">

</style>