<template>
  <span
    v-if="isHtml"
    v-html="value"
  />
  <img
    v-else
    v-bind="value"
  >
</template>

<script>
export default {
  props: {
    src: { type: String, default: '' },
    value: { type: [Object, String], default: () => ({})}
  },
  computed: {
    isHtml () {
      return typeof this.value === 'string'
    }
  }
}
</script>