<template>
  <span
    v-if="isHtml"
    v-html="value"
  />
  <a
    v-else
    v-bind="value"
  >
    <slot>
      {{ text }}
    </slot>
  </a>
</template>

<script>
export default {
  props: {
    href: { type: String, default: '' },
    value: { type: [Object, String], default: () => ({})}
  },
  computed: {
    isHtml () {
      return typeof this.value === 'string'
    },
    text () {
      return typeof this.value === 'object'
        ? this.value.text
        : ''
    }
  }
}
</script>