<!--
  Demonstrates usage of a Content List field type within JSS.
  Content Lists are references to 0..n other content items.
  In Sitecore terms, this maps by default to a Treelist field.
-->

<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-content-list">
    <h5>Shared Content List</h5>
    <template v-if="sharedContentList">
      <div v-for="(listItem, index) in sharedContentList" :key="`sharedListItem-${index}`" >
        <p>
          Field: <span v-html="listItem.fields.textField" />
        </p>
      </div>
    </template>

    <h5>Local Content List</h5>
    <template v-if="localContentList">
      <div v-for="(listItem, index) in localContentList" :key="`localListItem-${index}`">
        <p>
          Field: <span v-html="listItem.fields.textField" />
        </p>
      </div>
    </template>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageContentList',
  props: {
    sharedContentList: { type: Array, default: () => [] },
    localContentList: { type: Array, default: () => [] },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
};
</script>
