<!--
  Demonstrates usage of a Rich Text (HTML) content field within JSS.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-richtext">
    <!-- Basic use of a rich text field. Wraps in a <div>. -->
    <div v-html="sample" />

    <!-- Advanced usage of rich text field. Specifies a custom wrapper tag, turns off Sitecore editing, and has a CSS class on the wrapper -->
    <section
      v-html="sample2"
      class="text-center"
      data-sample="other-attributes-pass-through"
    />
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageRichText',
  props: {
    sample: { type: String, default: '' },
    sample2: { type: String, default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
};
</script>
