<!--
  Demonstrates using the dictionary functionality and defining route data in
  multiple languages.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-multilingual">
    <div v-html="sample" />

    <p>
      <!-- $t is attached to the Vue instance by the i18n plugin -->
      This is a static dictionary entry from <code>/data/dictionary</code>:&nbsp;styleguide-sample
    </p>

    <p>
      <nuxt-link to="/styleguide">Show in English</nuxt-link>
      <br />
      <nuxt-link to="/styleguide">Show in Danish</nuxt-link>
    </p>

    <!-- $i18n is attached to the Vue instance by the i18n plugin -->
    <p>The current language is: {{context.language}}</p>

  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';
import { mapState } from 'vuex'

export default {
  name: 'StyleguideMultilingual',
  props: {
    sample: { type: String, default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
  computed: {
    ...mapState(['context'])
  }
};
</script>
