<!--
  Demonstrates usage of date and time content field types within JSS.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-date">
    <ul>
      <li>
        Date helper: <span v-html="date" />
      </li>
      <li>
        Date helper (datetime): <span v-html="dateTime" />
      </li>
      <li>
        UTC Date string:&nbsp;
        <!--
          Date helper provides a `formatter` prop to give you direct access to the JS Date object for formatting.
          IMPORTANT: the formatter prop is ignored when in Experience Editor mode to support inline editing.
        -->
        <span v-html="new Date(date).toUTCString()" />
      </li>
      <li>
        Localized Date string (local timezone):&nbsp;
        <span v-html="new Date(date).toLocaleDateString()" />
      </li>
      <li>
        Localized DateTime string (local timezone):&nbsp;
        <!--
          Date helper also has a scoped slot that allows more granular control over the rendered output.
          For instance, you may wish to wrap the value in custom markup.
          IMPORTANT: the scoped slot is ignored when in Experience Editor mode to support inline editing.
        -->
        <span>
          <em>{{ new Date(date).toLocaleDateString() }}</em>
        </span>
      </li>
    </ul>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from './StyleguideSpecimen';

export default {
  name: 'Styleguide-FieldUsage-Date',
  props: {
    date: { type: String, default: '' },
    dateTime: { type: String, default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
};
</script>
