<!--
  Demonstrates usage of a Content Link content field within JSS.
  Content links are a reference to a single other piece of content.
-->

<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-itemlink">
    <h5>Shared Item Link</h5>
      <!--
        Item link fields are returned with their value as the referenced item value.
      -->
      <div v-if="sharedItemLink">
        <!-- The referenced item's fields can be rendered and edited using normal helper components: -->
        <p>
          Field: <span v-html="sharedItemLink.fields.textField" />
        </p>
      </div>


      <h5>Local Item Link</h5>
      <div v-if="localItemLink">
        <p>
          Field: <span v-html="localItemLink.fields.textField" />
        </p>
      </div>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageItemLink',
  props: {
    sharedItemLink: { type: Object, default: () => ({}) },
    localItemLink: { type: Object, default: () => ({}) },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  }
};
</script>
