<!--
  Demonstrates usage of a Text content field within JSS.
  Text fields are HTML encoded by default.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-text">
    <!-- Basic use of a text field. No wrapper. -->
    <div v-html="sample" />

    <!-- Advanced usage of text field. Specifies a wrapper tag, turns off Sitecore editing, supports raw HTML, and has a CSS class on the wrapper -->
    <section
      v-html="sample2"
      tag="section"
      class="font-weight-bold"
      data-sample="other-attributes-pass-through"
    />

    <div>Raw value (not editable): <div v-html="sample"/></div>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageText',
  props: {
    sample: { type: String, default: '' },
    sample2: { type: String, default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  }
};
</script>
