<!--
  This is a single tab within the tabs sample component. These are added to the tabs placeholder.
  This component demonstrates conditionally altering rendering when in the Sitecore Experience Editor to improve
  author experience.
-->
<template>
  <div data-e2e-class="styleguide-layout-tabs-tab">
    <h5 v-html="title" />
    <div v-html="content" />
  </div>
</template>

<script>

export default {
  name: 'StyleguideLayoutTabsTab',
  props: {
    title: { type: String, default: '' },
    content: { type: String, default: '' },
  }
};
</script>
