<!--
  Demonstrates usage of a General Link (hyperlink) content field within JSS.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-link">
    External link:&nbsp;
    <SCLink :value="externalLink" />
    <br />
    Internal link:&nbsp;
    <SCLink :value="internalLink">
      <em>HTML</em> or other components can be used within link renderers, for example links to
      images.
    </SCLink>
    <br />
    Email link:&nbsp;
    <SCLink :value="emailLink" />
    <br />
    All possible content params link:&nbsp;
    <SCLink :value="paramsLink" />
    <br />
    The link component accepts params of its own:&nbsp;
    <SCLink
      :value="externalLink"
      :showLinkTextWithChildrenPresent="true"
      class="font-weight-bold"
      data-otherattributes="pass-through-to-anchor-tag"
    />
  </StyleguideSpecimen>
</template>

<script>
import SCLink from '~/components/SCLink';
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageLink',
  props: {
    externalLink: { type: [Object, String], default: () => ({}) },
    internalLink: { type: [Object, String], default: () => ({}) },
    emailLink: { type: [Object, String], default: () => ({}) },
    paramsLink: { type: [Object, String], default: () => ({}) },
    mediaLink: { type: [Object, String], default: () => ({}) },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    SCLink,
    StyleguideSpecimen,
  },
};
</script>
