<!--
  Demonstrates usage of a File content field within JSS.
  File types are stored within Sitecore's Media Library data, and can be edited.
-->

<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-file">
    <!--
      Renders a file link
      Note: the rendered link element text will be the file field `title` or `displayName` if title is not defined.
    -->
    <span
      v-if="isHtml"
      v-html="file"
    />
    <a
      v-else
      href="file.src"
      v-html="file.title"
    />
    <br /><br />

    <!--
      File helper exposes a scoped slot that allows more granular control over the rendered output.
      For instance, you may wish to render a button (<button />) instead of a link (<a />).
    -->
    <span
      v-if="isHtml"
      v-html="file"
    />
    <a
      v-else
      target="_blank"
      :href="file.src"
    >Custom link body ({{file.title || file.displayName}})</a>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from './StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageFile',
  props: {
    file: { type: [Object, String], default: () => ({}) },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
  computed: {
    isHtml () {
      return typeof this.file === 'string'
    }
  },
  methods: {
    handleClick(src) {
      alert(src);
    },
  },
};
</script>
