<template>
  <div class="row">
    <div class="col-sm-8 col-lg-10">
      <Placeholder name="jss-styleguide-layout" :placeholders="placeholders" />
    </div>
    <div class="col-sm-4 col-lg-2 order-sm-first pt-2">
      <nav v-for="section in sections" :key="section.heading" class="nav flex-column pt-2">
        <SCLink
          :href="`#${section.id}`"
          class="nav-item font-weight-bold"
          v-html="section.heading"
        />
        <nav class="nav flex-column" v-if="section.children">
          <SCLink
            v-for="child in section.children"
            :key="child.id"
            :href="`#${child.id}`"
            v-html="child.heading"
          />
        </nav>
      </nav>
    </div>
  </div>
</template>

<script>
import Placeholder from '~/components/Placeholder'
import SCLink from '~/components/SCLink'
import { getPlaceholder, formatUid } from '~/utils'

export default {
  components: {
    Placeholder,
    SCLink
  },
  props: {
    params: { type: Object, default: () => ({}) },
    placeholders: { type: Object, default: () => ({}) }
  },
  computed: {
    sections () {
      return getPlaceholder(this.placeholders, 'jss-styleguide-layout')
        .filter(section => section.fields && section.fields.heading)
        .map(section => {
          const result = {
            heading: section.fields.heading,
            id: formatUid(section.uid),
            children: getPlaceholder(section.placeholders, 'jss-styleguide-section')
              .filter(component => component.fields && component.fields.heading)
              .map(component => ({
                heading: component.fields.heading,
                id: formatUid(component.uid)
              }))
          }
          return result
        })
    }
  }
}
</script>