<!--
  Demonstrates advanced component techniques in JSS.
  This example implements a simple-looking tabs component.
  Each tab is itself a child component added to a placeholder defined on the tabs component.
  The tab component introspects its child components to render the tab headings (i.e. the tab children render partial content in two places).
  When this component is edited in Sitecore Experience Editor, the tabbing behavior is turned off and each tab stacks on top of each other
  for easy inline editing.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-layout-tabs">
    <ul class="nav nav-tabs">
      <!--
        When the page is editing, we hide the tab headings, because they are not updated when xEditor adds or removes a tab rendering.
        Instead, we show the tab header inline with the tab contents (see Styleguide-Layout-Tabs-Tab).
      -->
      <template v-if="!isEditing">
        <li v-for="(tab, index) in tabs" :key="`tab${index}`" class="nav-item">
          <button :class="`nav-link ${index === activeTabIndex ? 'active' : null}`" v-on:click="activeTabIndex = index">
            <span v-html="tab.fields.title" />
          </button>
        </li>
      </template>
    </ul>
    <div className="p-3 border-left border-right border-bottom">
      <template v-if="isEditing">
        <!--
          When experience editor is active we want to render all tabs in a stack,
          to simplify editing.
          Note: additional props passed to the `<component />` here will not be forwarded to the actual Tab component.
        -->
        <Placeholder :placeholders="placeholders" name="jss-tabs" />
      </template>
      <template v-else>
        <!--
          We only want to render the _active_ tab when we're not editing.
        -->
        <Placeholder :component="tabs[activeTabIndex]" />
      </template>
    </div>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';
import Placeholder from '~/components/Placeholder'
import { mapGetters } from 'vuex'

export default {
  name: 'StyleguideLayoutTabs',
  props: {
    sample: { type: String, default: '' },
    sample2: { type: String, default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' },
    placeholders: { type: Object, default: () =>({}) }
  },
  components: {
    StyleguideSpecimen,
    Placeholder
  },
  data() {
    return {
      activeTabIndex: 0,
    };
  },
  computed: {
    ...mapGetters(['isEditing']),
    tabs () {
      return this.placeholders['jss-tabs']
    }
  },
};
</script>
