<!--
  Demonstrates usage of a Number (decimal) content field within JSS.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-number">
    <!-- Basic emission of a number field for editing can be done with the <Text> component. -->
      <span v-html="sample" />

      <!-- Direct access to the value, which is a JS number, is also supported. -->
      <p>
        JS value type: {{ typeof sample }}
        <br />
        JS value:
        <div v-html="sample"/>
      </p>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageNumber',
  props: {
    sample: { type: [Number, String], default: '' },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  }
};
</script>
