<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-layout-reuse">
    <div class="row">
      <template v-for="(item, index) in items">
        <div :key="index" class="col-sm">
          <Placeholder :component="item" />
        </div>
      </template>
    </div>
  </StyleguideSpecimen>
</template>

<script>
import Placeholder from '~/components/Placeholder';
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'Styleguide-Layout-Reuse',
  props: {
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' },
    placeholders: { type: Object, default: () =>({}) },
    params: { type: Object, default: () => ({}) }
  },
  components: {
    Placeholder,
    StyleguideSpecimen,
  },
  computed: {
    items () {
      return this.placeholders && this.placeholders['jss-reuse-example']
    }
  }
};
</script>
