<template>
  <div class="pt-3" :id="formatUid(uid)">
    <h3 class="border-bottom" v-html="heading" />
    <Placeholder name="jss-styleguide-section" :placeholders="placeholders" />
  </div>
  
</template>

<script>
import Placeholder from '~/components/Placeholder'
import { formatUid } from '~/utils'

export default {
  name: 'Styleguide-Section',
  components: {
    Placeholder
  },
  props: {
    uid: { type: String, default: '' },
    placeholders: { type: Object, default: () => ({}) },
    params: { type: Object, default: () => ({}) },
    heading: { type: String, default: '' },
  },
  methods: {
    formatUid
  }
}
</script>

<style lang="scss">

</style>