<!--
  Demonstrates gaining access to route-level fields.
  This technique builds on the Styleguide-SitecoreContext technique,
  to also get the route level field data and make it editable.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-route-fields">
    <p>
      Route level <code>pageTitle</code> field:&nbsp;
      <span v-html="route.fields.pageTitle" />
    </p>
    <p>
      <nuxt-link to="/styleguide/custom-route-type">Sample of using a custom route type</nuxt-link>
    </p>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from '~/components/StyleguideSpecimen';
import { mapState } from 'vuex'

export default {
  name: 'Styleguide-RouteFields',
  props: {
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
  computed: {
    ...mapState(['route'])
  }
};
</script>
