<!--
 Demonstrates usage of a Checkbox (boolean) content field within JSS.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-fieldusage-checkbox">
    <!-- Checkbox fields do not have the ability to be inline edited, so they are directly accessed via their value: -->
    <ul>
      <!--
        The getFieldValue helper allows safely extracting a field value that could be undefined,
        without needing to check that props.fields or props.fields.checkbox are traversable,
        and allowing the specification of an optional default value (default is undefined if unspecified).
      -->
      <li v-if="checkbox.value">
        <code>checkbox</code> is true
      </li>
      <li v-if="!checkbox.value">
        <code>checkbox</code> is false
      </li>
      <li v-if="checkbox2.value">
        <code>checkbox2</code> is true
      </li>
      <li v-if="!checkbox2.value">
        <code>checkbox2</code> is false
      </li>
    </ul>
  </StyleguideSpecimen>
</template>

<script>
import StyleguideSpecimen from './StyleguideSpecimen';

export default {
  name: 'StyleguideFieldUsageCheckbox',
  props: {
    checkbox: { type: [Boolean, String], default: false },
    checkbox2: { type: [Boolean, String], default: false },
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen
  },
};
</script>
