<!--
  Demonstrates gaining access to the route-level Sitecore Context from
  within other components.
-->
<template>
  <StyleguideSpecimen v-bind="$props" data-e2e-id="styleguide-sitecore-context">
    <p>The current Sitecore Context is...</p>
    <!--
      this.$jss is defined on the Vue instance by the SitecoreJssPlugin and provides
      reactive access to the `sitecoreContext` provided in layout service data.
    -->
    <pre :style="{maxHeight: '400px', overflow: 'scroll'}">
  {{ JSON.stringify(context, null, 2) }}
    </pre>
  </StyleguideSpecimen>
</template>

<script>
import { mapState } from 'vuex'
import StyleguideSpecimen from '~/components/StyleguideSpecimen';

export default {
  name: 'Styleguide-SitecoreContext',
  props: {
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    uid: { type: String, default: '' },
    componentName: { type: String, default: '' }
  },
  components: {
    StyleguideSpecimen,
  },
  computed: {
    ...mapState(['context'])
  }
};
</script>
