<!--
 Helper component that displays explanatory information and where to find the definitions
 of styleguide specimens.
-->
<template>
  <div class="pt-3" :id="formatUid(uid)">
    <h4 v-html="heading" />
    <div v-html="description" />

    <p>
      <small>
        Implementation: <code>/src/components/{{ componentName }}/index.js</code>
        <br />
        Definition: <code>/sitecore/definitions/components/{{ componentName }}.sitecore.js</code>
      </small>
    </p>
    <div class="border p-2">
      <slot />
    </div>
  </div>
</template>

<script>
import { formatUid } from '~/utils'

export default {
  name: 'StyleguideSpecimen',
  props: {
    heading: { type: String, default: '' },
    description: { type: String, default: '' },
    componentName: { type: String, default: ''},
    uid: { type: String, default: ''}
  },
  methods: {
    formatUid
  }
};
</script>
