<template>
  <div>
    <div v-if="route.name !== 'styleguide'">
      <div class="spacer">
        <h2>Demo</h2>
        <p>A page was built with NUXT that renders based on the JSON API response received by the Sitecore Layout Service</p>
        <nuxt-link to="/styleguide">Link to Demo</nuxt-link>
        <br>
        <br>
        <a href="https://sitecore-jss-proxy.herokuapp.com/sitecore/api/layout/render/jss?item=%2fstyleguide&lang=en&sc_apikey=no-api-key-set" target="__blank">Sitecore Layout Service API Endpoint (being proxied by @sitecore-jss/sitecore-jss-dev-tools)</a>
      </div>

      <div class="spacer">
        <h2>Arch Diagram</h2>
        <img class="img" src="/arch-diagram.svg">
      </div>
      <div class="spacer">
        <h2>Notes</h2>
        <ul>
          <li>Code is on <a href="https://bitbucket.org/jtsao1/jss-nuxt/src/master/" target="__blank">Bitbucket</a></li>
          <li>No dependencies from the @sitecore-jss npm package were needed. Everything was built with just Vue/Nuxt</li>
          <li>The JSON API response from Sitecore Layout Service was formatted before being consumed by the Front End. The formatting, removed the nesting of { value: } objects. <a href="api/pages/styleguide?dev=true" target="__blank">View formatted and original response</a></li>
          <li>A Placeholder.vue component is used to render any component that Sitecore can render. When new components are created, they need to be added to Placeholder.vue</li>
          <li>To support Experience Editor
              <ul>
                <li>
                  Special components are needed to handle urls for images and links. Render text as html.
                  <div>
                    <img class="img" src="/custom-components.png">
                  </div>
                </li>
                <li>
                  Components with hidden content need to be coded so that when they are in experience editor, the hidden content is visible (e.g. tab components, accordions, etc)
                </li>
              </ul>
          </li>
          <li>
            Sitecore Context, Viewbag, Route data can be save to the Vuex Store so that they can be accessible anywhere inside the application. For example, this would be useful if a component needed to know if the app is currently being viewed in experience editor. The component can just read the "pageEditing" value off the Context from the Vuex store to know.
          </li>
        </ul>
      </div>
      <div class="spacer">
        <h2>Todo</h2>
        <ul>
          <li>Figure out how relationships will be handled</li>
          <li>Get Experience Editor to Work</li>
          <li>API Endpoint for Site Settings?</li>
          <li>Provide - Meta data in header</li>
        </ul>
      </div>
    </div>
    <div v-else>
      <component
        :is="template"
        v-bind="route.fields"
        :placeholders="route.placeholders"
      />
    </div>
    <pre>
{{ JSON.stringify($data, null, 2) }}
    </pre>
  </div>
</template>

<script>
import axios from 'axios'
import AppRoute from '~/templates/AppRoute'

if (process.server) {
  axios.defaults.baseURL = `http://localhost:${process.env.PORT || 3030}`
} else {
  axios.defaults.baseURL = '/'
}

export default {
  asyncData ({ route, store, req }) {
    const updateStore = data => {
      store.commit('setContext', data.sitecore.context)
      store.commit('setRoute', data.sitecore.route)
    }

    if (req && req.ssrData) {
      updateStore(req.ssrData)
      return req.ssrData
    }

    return axios.get(`/api/pages${route.fullPath}`)
      .then(response => {
        updateStore(response.data)
        return response.data
      })
  },
  computed: {
    route () {
      return this.sitecore.route
    },
    template () {
      return this.route.templateName.replace(' ', '')
    }
  },
  components: {
    AppRoute
  },
  head () {
    return {
      title: this.route.fields.pageTitle
    }
  }
}
</script>

<style>
.img {
  width: 100%;
}

.spacer {
  margin-top: 2rem;
}
</style>