<template>
  <div>
    <Placeholder
      name="jss-main"
      :placeholders="placeholders"
    />
  </div>
</template>

<script>
import Placeholder from '~/components/Placeholder'

export default {
  components: {
    Placeholder
  },
  props: {
    pageTitle: { type: String, default: '' },
    placeholders: { type: Object, default: () => ({}) }
  }
}
</script>

<style lang="scss">

</style>